/* global.css or index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px; /* Set root font size */
  }
  body {
    /* font-family: 'Nunito Sans' */
    font-family: 'Pixeloid Mono', monospace;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Pixeloid Mono', monospace;
  }
  a,
  button {
    font-family: 'Pixeloid Mono', monospace;
  }

}

@layer utilities {
  .display-5xl {
    @apply text-64 leading-72;
  }
  .display-4xl {
    @apply text-51 leading-60;
  }
  .display-3xl {
    @apply text-44 leading-50;
  }
  .display-2xl-regular {
    @apply text-36 leading-40;
  }
  .display-xl-regular {
    @apply text-26 leading-32;
  }
  .display-lg-regular {
    @apply text-21 leading-25;
  }
  .display-sm-regular {
    @apply text-18 leading-24;
  }
  /* Icon Wrapper */
  .icon-wrapper {
    @apply flex items-center justify-center bg-gray-100 rounded-full;
    width: 3rem; 
    height: 3rem;
  }
  .component-zone {
    @apply flex flex-col h-[80vh] bg-Neutral-+3 p-8 border-2 border-dashed border-Magenta-0;
  }
  .SVG-current-color {
    @apply fill-current;
  }
}


