/* global.css or index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px; /* Set root font size */
  }
  body {
    /* font-family: 'Nunito Sans' */
    font-family: 'Pixeloid Mono', monospace;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Pixeloid Mono', monospace;
  }
  a,
  button {
    font-family: 'Pixeloid Mono', monospace;
  }

}

@layer utilities {
  .display-5xl {
    @apply text-64 leading-72;
  }
  .display-4xl {
    @apply text-51 leading-60;
  }
  .display-3xl {
    @apply text-44 leading-50;
  }
  .display-2xl-regular {
    @apply text-36 leading-40;
  }
  .display-xl-regular {
    @apply text-26 leading-32;
  }
  .display-lg-regular {
    @apply text-21 leading-25;
  }
  .display-sm-regular {
    @apply text-18 leading-24;
  }
  /* Icon Wrapper */
  .icon-wrapper {
    @apply flex items-center justify-center bg-gray-100 rounded-full;
  }
  .component-zone {
    @apply flex flex-col bg-neutral-100 p-8 rounded-2xl;
  }
  .SVG-current-color {
    @apply fill-current;
  }
  .degen-nav-wrapper {
    @apply bg-white flex items-center gap-x-1 rounded-md transition-colors duration-200 ease-in-out hover:bg-slate-50 hover:text-primary;
  }
  .degen-nav-normalize {
    @apply whitespace-nowrap !px-2 !py-2;
  }
  .degen-nav-sidebar {
    @apply bg-white text-lg flex items-center transition-colors duration-200 ease-in-out hover:bg-slate-50 hover:text-primary;
  }
  .degen-nav-sidebar-vert-rhythm {
    @apply py-2;
  }
}


